<p>
  <strong> Name:
  </strong> <%= @survey.name %>
</p>

<p>
  <% if @survey.active? %>
   <strong>Active</strong>
  <% else %>
   <strong>Inactive</strong>
  <% end %>
</p>
<hr class="light">


	<%= render partial: 'lp_survey' %>





<h4><%= link_to 'New Item', new_item_path(survey_id: @survey.id) %></h4>

