// Place all the styles related to the surveys controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.item_scoring {
	border: 1px solid #000;
	padding: 0px -1px;
	text-align: center;
	height: 24px;
	line-height: 22px;
}

div.item_score {
	background-color: #05D116;
	border-right: 1px solid #000;
	height: 20px;
}

div.high_score {
	background-color: #FFF
}
div.total {
	text-align: right;
	font-weight:bold;
}

div.total.item_scoring {
	text-align: center;
	border: 2px solid #000;
	border-right: 2px solid #000;
	line-height: 20px;
	padding: 0;
}

div.survey-details {
	position: relative;
	width: 100%;
}

div.mytable {
	position:relative;
	float:right;
	clear:both;
}

table.surv-head, th, td {

	border-collapse:collapse;
	border: 1px solid #000;
	text-align: center;
}

td.prev-score {
	background-color: #ECDB10
}

td.run-score {
	background-color: #07C30F
}

span.my-red {
	text-color: red;
}

input#inspection_scores_score_item {
	background-color: #07C30F;
	font-size: 16px;
	padding: 0 0;
	text-align: center;
	height: 18px;
	margin: 2px;
}

::-webkit-input-placeholder {
	color: black;
	font-size: 16px;
	height: 11px;
}

:-ms-input-placeholder {
	color: black;
}

div.item_score input {
	text-align: center;
	background-color: inherit;
	height: 22px;
}

div.item_scoring .row {
  margin-left: 0px;
}

div.item_act {
	position: relative;
	height: 22px;
	right: 16px;
	
	background-color: blue;
	
}

div.item_act a {
	display: block;
	width: 100%;
	position: absolute;
	background-image: url('empty.gif');
	z-index: 1;
}

div.redbox {
	border: 1px solid red;
}

div.run-score-data {
	position: absolute;
	left: -999em;
}