<h3>New Inspection for <%= @site.name %></h3>

<h1>1nt Quarter 2014 <%= @inspection.name %> Inspection</h1>

<div class="survey-details row">
	<p class="surv-left">For: <%= @site.name %>
	<span class="surv-right">Manager: @site.user.name</span></p>
	<p class="surv-left">Date: @inspection.modified_by <span class="surv-right">Inspected by: @Inspection.user_id.name</span></p>
</div>

<div class="mytable">


<table class="surv-head">
	<thead>
		<tr>
			<th>
				Date
			</th>
			<th>
			Previous</th>
			<th>
				Current</th>
		</tr>
	</thead>

	<tbody>
		<tr>
			<td>@inspection.previous.date</td>
			<td class="prev-score">@inspection.previous.score</td>
			<td class="run-score"><%# my_total(@items, :high_score) %></td>
		</tr>
		
	</tbody>

</table>
</div>

<p class="all">*Note: All items in <span class="my-red">red</span> text constitute an "all or nothing" point scale</p>
<hr class="light">
