<table>
	<thead>
		<tr><th><h1>1nt Quarter 2014 <%= @inspection.name %> Inspection</h1></th></tr>
	</thead>

	<tbody>
		<tr>
			<td>For: <%= @site.name %></td>
			<td>Manager: </td>
		</tr>
		<tr>
			<td>Date: 1/1/2014</td>
			<td>Inspected by: Bob</td>
		</tr>
		<tr>
			<td>Previous:</td>
			<td>Last score</td>
			<td>Current:</td>
			<td>TBD</td>
		</tr>
	</tbody>

</table>


<p class="all">*Note: All items in red text constitute an "all or nothing" point scale</p>
<hr class="light">
<% @inspections %>
<%  %>

<% end %>


